/* font-family: 'Gowun Dodum', sans-serif; */
/* 눈누에서 퍼온 글꼴 */
@font-face {
  font-family: 'Ycomputer-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/Ycomputer-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
p{
  font-family: 'Ycomputer-Regular';
}