.container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,100px);
  grid-template-areas: 
  "box1 box1 box1"
  "box2 box3 box3"
  "box2  .   box4"
}

.box1{
  background: skyblue;
  grid-column: 1/4;
  grid-row: 1/2;
}

.box2{
  background: pink;
  grid-row: 2/4;
  
}

.box3{
  background: orange;
  grid-column: 2/4;
}

.box4{
  background: yellow;
  grid-column: 3/4;
}